<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ScanMan.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />           
        </sectionGroup>
        <section name="BarcodeTypeSection" type="ScanMan.Config.BarcodeTypeConfigurationSection, ScanMan" />
    </configSections>
    <userSettings>
        <ScanMan.Properties.Settings>
            <setting name="ScannerCom" serializeAs="String">
                <value>COM8</value>
            </setting>
            <setting name="FileDir" serializeAs="String">
                <value>C:\Data</value>
            </setting>
            <setting name="Printer" serializeAs="String">
                <value />
            </setting>
            <setting name="ErrorOU" serializeAs="String">
                <value>OU=Deployment,OU=Resources,OU=PROD,OU=YPTO,OU=Unit placeholder,DC=msnet,DC=railb,DC=be</value>
            </setting>
        </ScanMan.Properties.Settings>
    </userSettings>
    <BarcodeTypeSection>
        <BarcodeTypes>
            <add Name="Command"       BarcodeType="Command"       Regex="^(CM_[0-9A-z]+)$" />
            <add Name="AssetType"     BarcodeType="Command"       Regex="^(TP_[0-9A-z]+)$" />
            <add Name="ModeSelection" BarcodeType="Command"       Regex="^(MD_[0-9A-z]+)$" />
            <add Name="Department"    BarcodeType="Command"       Regex="^(DP_[0-9A-z]+)$" />
            <add Name="Name"          BarcodeType="Command"       Regex="^(NM_[0-9A-z]+)$" />
            <add Name="Reason"        BarcodeType="Command"       Regex="^((RN_[0-9A-z]+)|(WO|GO)[0-9]+)$" />
            <add Name="AssetGeneric"  BarcodeType="AssetAD"       Regex="^([0-9]{9})$" />
            <add Name="GSM"           BarcodeType="AssetNonAD"    Regex="^(G[0-9]{9})$" />
            <add Name="EMEI"          BarcodeType="AssetNonAD"    Regex="^([0-9]{15})$" />
            <add Name="SIM"           BarcodeType="AssetNonAD"    Regex="^([0-9]{11})$" />
        </BarcodeTypes>
    </BarcodeTypeSection>
</configuration>